<mat-sidenav-container>

  <mat-sidenav #start>

    <mat-nav-list>
      <a routerLink="" mat-list-item>
        <mat-icon>library_books</mat-icon>
        <span>Courses</span>
      </a>

      <a routerLink="" mat-list-item>
        <mat-icon>library_books</mat-icon>
        <span>Courses</span>
      </a>

      <a routerLink="" mat-list-item>
        <mat-icon>library_books</mat-icon>
        <span>Courses</span>
      </a>

      <a routerLink="" mat-list-item>
        <mat-icon>library_books</mat-icon>
        <span>Courses</span>
      </a>

      <a routerLink="" mat-list-item>
        <mat-icon>library_books</mat-icon>
        <span>Courses</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">

    <button mat-icon-button (click)="start.open()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>


  <router-outlet></router-outlet>

</mat-sidenav-container>

